# This is a client (initiator)

[DEFAULT]
BeginString=FIXT.1.1
TargetCompID=SRVR
ConnectionType=initiator
StartTime=00:00:00
EndTime=00:00:00

# Validation
UseDataDictionary=Y
TransportDataDictionary=./fix/FIXT11.xml
DefaultApplVerID=./fix/FIX50SP2.xml
CheckLatency=N

# Initiator
ReconnectInterval=30
HeartBtInt=30
LogonTimeout=30
ResetOnLogon=Y

# Logging
FileLogPath=/fix/logs

# Storage
FileStorePath=./fix/sessions

# session definition
[SESSION]
SenderCompID=CLNT4
SocketConnectPort=31337
SocketConnectHost=172.31.19.35

